* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    padding: 2rem calc((100vw - 1000px) / 8);
    background-color: #020100;
    border-top: 1px solid #FDFFFC;
    .footer_container {
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        place-items: center;
        p {
            color: white;
        }
        ul {
            display: flex;
            place-items: center;
            li {
                list-style: none;
                padding: 0.3rem;
                border-radius: 50%;
                background-color: #FDFFFC;
                margin-right: 1rem;
                cursor: pointer;
                display: flex;
                place-items: center;
                a {
                    z-index: 15;
                    color:#020100;
                }
            }
        }
        .policies {
            display: flex;
            p {
                font-size: 1rem;
                cursor: pointer;
            }
            span {
                width: 2px;
                height: auto;
                background-color: #FDFFFC;
                display: block;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    footer {
        .footer_container{ 
            padding: 0.5rem 1rem;
            p {
                font-size: 0.6rem;
                text-align: center;
            }
            ul {
                li {
                    font-size: 0.5rem;
                }
            }
            .policies {
                p {
                    font-size: 0.6rem;
                }
            }
        }
    }
}